<ion-view title="New Task" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="newTask-form21" class="list ">
            <label class="item item-input roboto" id="newTask-textarea1">
                <span class="input-label">Subject</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="newTask-input11">
                <input type="text" placeholder="e.g. Elective 2">
            </label>
        </form>
        <p id="newTask-markdown7" style="color:#F30202;font-size:12px;" class=" ">Subject is required!</p>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <form id="newTask-form22" class="list ">
            <label class="item item-input roboto" id="newTask-textarea2">
                <span class="input-label">Due Date</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="newTask-input12">
                <input type="date" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 11.9972px;"></div>
        <form id="newTask-form23" class="list ">
            <label class="item item-input roboto" id="newTask-textarea3">
                <span class="input-label">Title</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="newTask-input15">
                <input type="text" placeholder="e.g. Research about Ionic">
            </label>
        </form>
        <div id="newTask-button-bar3" class=" button-bar ">
            <a ui-sref="tasks" id="newTask-button10" class=" button button-stable  button-block ">Cancel</a>
            <button id="newTask-button11" class=" button button-positive  button-block ">Save</button>
        </div>
    </ion-content>
</ion-view>