<ion-view title="Tasks" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="tasks-list10" class=" ">
            <ion-item id="tasks-list-item3" class="  ">Create a program (OOP)
                <span class="item-note">July 23</span>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <ion-list id="tasks-list11" class=" ">
            <ion-item id="tasks-list-item6" class="  ">Research about Class.
                <span class="item-note">July 15</span>
            </ion-item>
        </ion-list>
        <a ui-sref="newTask" id="tasks-button8" style="font-weight:500;font-size:69px;border-radius:3px 3px 3px 3px;" class=" button button-dark button-large button-block button-clear icon-right ion-android-add-circle "></a>
    </ion-content>
</ion-view>